/* flex box !! be careful */

header{
    background: purple;
    color: yellow;
    text-align: center;
}

main{
    padding: 15px;
}

body{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* table{
    padding: 10px;
} */

table {
    width: 100%;
    text-align: left;
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}

th, td {
    padding: 0.5em;
    min-width: 3.5em;
}

thead {
    background-color: purple;
    color: yellow;
}

tbody tr:nth-child(odd){
    background: whitesmoke;
}

tbody tr:nth-child(even){
    background: gainsboro;
}

div {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

footer {
    text-align: right;
    padding-right: 15px;
}

.over-budget {
    color: red;
}

#myForm {
 display: flex;
 justify-content: space-between;
 gap: 8px;
}

input {
    flex: 1;
}
