/* body{
    display: flex;
    flex-direction: column;
} */

/* table{
    padding: 10px;
} */

table {
    width: 100%;
    text-align: left;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}

th, td {
    padding: 0.5em;
    min-width: 3.5em;
}

thead {
    background-color: purple;
    color: yellow;
}